<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <script defer src="/js/home/login.js"></script>  
  </head>
  <body>
  <form>
		<input id="id" type="text" placeholder="아이디" />
		<input id="psword" type="password" placeholder="비밀번호" autoComplete="off" />
		<button id="loginButton" type="button">로그인</button>
  </form>
	</body>
</html>
